// Variables

$main-color: #007bff;
$dark-color :#343a40;
$border: 1px solid rgba($color: #000000, $alpha: 0.15);

// Elements

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px;
}


h1 {
    font-size: 2rem;
    color: white;
    margin: 0px;
}

header {
    grid-column: span 3;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

// Classes

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.background-blue {
    background-color: $main-color;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.video-box {
    border: $border;
    margin: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    max-width: 17rem;
}

.video-box-headline {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    border-bottom: $border;
    background-color: darken($color: white, $amount: 5);
}

.background-maincolor {
    background-color: $main-color;
}

.button.background-maincolor:hover {
    background-color: darken($color: $main-color, $amount: 5);
}

.background-dark {
    background-color: $dark-color;
}

.button.background-dark:hover {
    background-color: darken($color: $dark-color, $amount: 4);
}

.background-alert {
    background-color: #c43f3f;
}

.button.background-alert:hover {
    background-color: darken($color: #c43f3f, $amount: 4);
}

.button {
    width: 100%;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.loading-bar-wrapper {
    border: $border;
    border-radius: 1rem;
    background-color: darken($color: white, $amount: 4);
}

.loading-bar {
    height: 1rem;
    background-color: $main-color;
    border-radius: 1rem;
    width: 0%;
}

.full-width {
    width: 100%;
}

.padding-1 {
    padding: 1rem;
}

.column-span-1 {
    grid-column-end: span 1;
}

.column-span-2 {
    grid-column-end: span 2;
}

.column-span-3 {
    grid-column-end: span 3;
}

.column-start-1 {
    grid-column-start: 1;
}

.column-start-2 {
    grid-column-start: 2;
}

.column-start-3 {
    grid-column-start: 3;
}

// IDs

#settings-grid-item {
    padding-top: 2rem;
}

#webcam-video {
    display: block;
    height: 100%;
}

#number-of-epochs-input {
    width: 100%;
    box-sizing: border-box;
    height: 1rem;
}

#image-preview-canvas {
    display: block;
    width: 17rem;
    height: 17rem;
}

#video-wrapper {
    display: flex;
    justify-content: center;
    height: 17rem;
    overflow: hidden;
}