// Variables

$main-color: #007bff;
$dark-color: #343a40;
$alert-color: #c43f3f;
$success-color: #469b46;
$border: 1px solid rgba($color: #000000, $alpha: 0.15);

// Elements

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px;
}


h1 {
    font-size: 2rem;
    color: white;
    margin: 0px;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

header {
    grid-column: span 3;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

// Classes

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.video-box {
    border: $border;
    margin: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    max-width: 17rem;
}

.video-box-headline {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    border-bottom: $border;
    background-color: darken($color: white, $amount: 5);
}

.background-maincolor {
    color: white;
    background-color: $main-color;
}

.button.background-maincolor:hover {
    background-color: darken($color: $main-color, $amount: 5);
}

.background-dark {
    color: white;
    background-color: $dark-color;
}

.button.background-dark:hover {
    background-color: darken($color: $dark-color, $amount: 4);
}

.background-alert {
    color: white;
    background-color: $alert-color;
}

.button.background-alert:hover {
    background-color: darken($color: $alert-color, $amount: 4);
}

.background-success {
    color: white;
    background-color: $success-color;
}

.button.background-success:hover {
    background-color: darken($color: $success-color, $amount: 4);
}

.button {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: background-color .2s linear;
}

.loading-bar-wrapper {
    border: $border;
    border-radius: 1rem;
    background-color: darken($color: white, $amount: 4);
    height: 1.5rem;
}

.loading-bar {
    height: 1rem;
    background-color: $main-color;
    border-radius: 1rem;
    width: 0%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.padding-1 {
    padding: 1rem;
}

.column-span-1 {
    grid-column-end: span 1;
}

.column-span-2 {
    grid-column-end: span 2;
}

.column-span-3 {
    grid-column-end: span 3;
}

.column-start-1 {
    grid-column-start: 1;
}

.column-start-2 {
    grid-column-start: 2;
}

.column-start-3 {
    grid-column-start: 3;
}

// IDs

#settings-grid-item {
    padding-top: 2rem;
}

#webcam-video {
    display: block;
    height: 100%;
}

#number-of-epochs-input {
    width: 100%;
    box-sizing: border-box;
    height: 1rem;
}

#image-preview-canvas {
    display: block;
    width: 17rem;
    height: 17rem;
}

#video-wrapper {
    display: flex;
    justify-content: center;
    height: 17rem;
    overflow: hidden;
}

#settings-grid-item button {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#training-settings {
    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;

    .button {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    p {
        margin-top: 1rem;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .loading-bar-wrapper {
        margin-top: 1rem;
    }
}

#input-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    label {
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}

#prediction-settings {
    width: 50%;
    margin-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;

    div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#prediction-settings-buttons  {
    display: flex;

    button {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

#prediction-list {
    list-style: none;
}

#message-board {
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    p {
        text-align: center;
    }
}